body {
  background-color: darkcyan;
  height: 100%;
  width: 100%;
}

.home{
  text-align: center;
  vertical-align: middle;
}

img{
  max-height: 100px;
  max-width: 100px;
}

.character{
  border: 1px solid;
  margin:10px;
  padding: 10px;
}
