body {
  background-color: rgb(0, 100, 139);
  height: 100%;
  width: 100%;
}
.home{
  text-align: center;
  vertical-align: middle;
}
img{
  max-height: 100px;
  min-height: 100px;
  max-width: 100px;
  min-width: 100px;
}
.card{
  height:200px;
  min-width:110px;
  max-width:110px;
}
.character-card:hover {
  cursor: pointer;
}
img.hover{
  cursor:pointer;
}

.character{
  border: 1px solid;
  margin:10px;
  padding: 10px;
}

.titleGame{
  font-size: 100px;
  margin-bottom: 40px;
}

#myPseudo{
  margin-bottom: 40px;
}

#randomCharacter{
margin-top: 40px;
}

h2{
  margin-bottom: 30px;
  margin-top:30px
}
.goOnGame{
  margin-bottom: 30px;
  margin-top:30px
}